body{
    background-image: linear-gradient(to right top, #62e6dc, #5ddfe4, #62d7e9, #6ccfeb, #7ac6e9, #7fc9e4, #86ccdf, #8fcfdb, #a7dbd2, #c7e4cf, #e6ecd4, #fff5e3);
}
.menu_bar{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.logo{
    width: 50vw;
    height: auto;
    float: left;
}
#logo{
    width: 12rem;
    margin-left: 4rem;
    float: left;
}
.logins{
    width: 50vw;
    height: 6.9vh;
    float: right;
}
.logins *{
    float: right;
}
#be_teach,#login,#singup,#logout{
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
    background-color: #313131;
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    transition: 0.5s;
}
#be_teach{
    text-shadow: -2px 0px #00FFFF,2px 0px #FF00FF;
}
#singup,#logout{
    margin-right: 4rem;
}
#be_teach:hover,#login:hover,#singup:hover{
    color: black;
    background-color: white;
    transition: 0.5s;
}
#logout:hover{
    background-color: #e70000;
    transition: 0.5s;
}