body{
    font-family: "Lato", sans-serif;
    margin: 0;
}
.sidebar{
    top: 0;
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 20vw;
    float: left;
    background-color: #f1f1f1;
}
.sidebar a{
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}
a.active{
    background-color: #353B6E;
    color: white;
}
.sidebar a:hover{
    background-color: #555;
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
a.active:hover{
    background-color: #353B60;
}
#logout:hover{
    background-color: #e70000;
    transition: 0.5s;
}