<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DVibes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/index.css')}}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/navbar.css')}}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/footer.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="{{ url_for('static',filename='script.js/NavBarMenu.js')}}" type="text/javascript"></script>
    </head>
    <body>
        <div class="preloader" id="preloader">
            <div class="middle">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
                <div class="bar bar4"></div>
                <div class="bar bar5"></div>
                <div class="bar bar6"></div>
                <div class="bar bar7"></div>
                <div class="bar bar8"></div>
            </div>
        </div>
        <nav>
            <div class="menu">
                <button type="button" onclick="NavBarMenu()"><i class="fas fa-bars"></i></button>
            </div>
            <div class="logo">
                <a href="/"><img src="../../static/assets/2x-removebg-preview.png" id="logo"></a>
            </div>
            <div class="links">
                <ul id="elements-links">
                    <li><a href="#">News</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="/becoach">Become a coach</a></li>
                </ul>
            </div>
            <div class="logins">
                <ul id="elements-logins">
                    {% if log == True %}
                        {% if user=="user" %}
                            <li><a href="/user" class="account_icon">{{info}}</a></li>
                            <li><a href="/logout" class="logout">Log out</a></li>
                        {% elif user=="coach"%}
                            <li><a href="/coach" class="account_icon">{{info}}</a></li>
                            <li><a href="/logout-coach" class="logout">Log out</a><li>
                        {% elif user=="admin"%}
                            <li><a href="/admin" class="account_icon">Admin</a><li>
                            <li><a href="/logout" class="logout">Log out</a><li>
                        {% endif %}
                    {% else %}
                        <li><a href="/login" id="login">Log in</a></li>
                        <li><a href="/singup" id="singup">Sing up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="slideshow-container">
            <div class="mySlides fade">
                <div class="numbertext first_label">
                    <p class="primary-title">Musical Buzz</p>
                    <p class="secondary-title">Check out the lateast musical news</p>
                    <a href="#" class="btn">Explore Music Headlines</a>
                </div>
                <img src="../../static/assets/pexels-dmitry-demidov-3783471.jpg" class="slid-img" >
            </div>
            <div class="mySlides fade">
                <div class="numbertext second_label">
                    <p class="primary-title">Upcoming Events</p>
                    <p class="secondary-title">Don’t miss the biggest musical event across the country</p>
                    <a href="#" class="btn">Explore Music Events</a>
                </div>
                <img src="../../static/assets/index.png" class="slid-img">
            </div>
            <div class="mySlides fade">
                <div class="numbertext third_label">
                    <p class="primary-title">Skill-Building Courses</p>
                    <p class="secondary-title">Apply for the best courses of music produced by the best coaches</p>
                    <a href="#" class="btn">Explore Musical Courses</a>
                </div>
                <img src="../../static/assets/pexels-pavel-danilyuk-7521299.jpg" class="slid-img">
            </div>
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <div class="container-1">
            <img src="../../static/assets/Untitled designfs.png" class="img first">
            <p class="texttitle1">Unleash Your Musical Potential</p>
            <p class="textdesc1">Unleash your musical potential with our expert-led lessons for various instruments. Learn at your own pace and stay up-to-date with the latest music news and events. Join our community of music enthusiasts and unlock your potential today!</p>
        </div>
        <hr>
        <div class="container-2">
            <img src="../../static/assets/Untitled designqsdqsd.png" class="img second">
            <p class="texttitle2">Unleash Your Musical Potential</p>
            <p class="textdesc2">Unleash your musical potential with our expert-led lessons for various instruments. Learn at your own pace and stay up-to-date with the latest music news and events. Join our community of music enthusiasts and unlock your potential today!</p>
        </div>
        <hr>
        <div class="container-3">
            <p class="texttitle">Choose Your Musical Path</p>
            <div class="container-31">
                <div class="row1">
                    <a href="#"><img  class="test" src="../../static/assets/piano.png"></a>
                    <a href="#"><img  class="test" src="../../static/assets/drum.png"></a>
                    <a href="#"><img  class="test" src="../../static/assets/flut.png"></a>
                    <a href="#"><img  class="test" src="../../static/assets/guitar.png"></a>
                    <a href="#"><img  class="test" src="../../static/assets/sax.png"></a>
                    <a href="#"><img  class="test" src="../../static/assets/violent.png"></a>
                </div>
                <div class="row2">
                    <a href="#"><img  class="test" src="../../static/assets/Accordion.png"></a>
                    <a href="#"><img  class="test" src="../../static/assets/banjo.png"></a>
                    <a href="#"><img  class="test" src="../../static/assets/guitar2.png"></a>
                    <a href="#"><img  class="test" src="../../static/assets/harp.png"></a>
                    <a href="#"><img  class="test" src="../../static/assets/idk.png"></a>
                    <a href="#"><img  class="test" src="../../static/assets/trumpet.png"></a>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <div class="cont-1">
            <a href="#">Privacy Policy</a>
            <a href="#">Contact Us</a>
            <a href="#">About Us</a>
            <a href="#">Terms and Conditions</a>
        </div>
        <div class="cont-2">
            <div class="socialmedia">
                <a href="#"><img  class="icon" src="../../static/assets/facebook.png"></a>
                <a href="#"><img  class="icon" src="../../static/assets/youtube.png"></a>
                <a href="#"><img  class="icon" src="../../static/assets/linkedin.png"></a>
                <a href="#"><img  class="icon" src="../../static/assets/twitter.png"></a>
                <a href="#"><img  class="icon" src="../../static/assets/instagram.png"></a>
            </div>
            <div class="copyright">
                <p>DVibes © 2023 Company, Inc</p>
            </div>
        </div>
    </footer>
    <script>
        let slideIndex = 1;
        let loader = document.getElementById("preloader");
        window.addEventListener("load", function(){
            loader.style.display = "none";
        })
        showSlides(slideIndex);
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        function showSlides(n) {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }
    </script>
</html>