*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #F3F5F9;
}
@media screen and (max-width: 480px){
    .container{
        width: 90%;
        margin: 3% 5%;
    }
    .row{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }
    .cell, .admin_title{
        width: 40vw;
        height: 22vh;
        margin-top: 5%;
    }
    .admin_title{
        margin-top: 2%;
    }
    .admin_title p{
        border-left: 5px #FFDB15 solid;
        padding-left: 5%;
        font-size: 1.5rem;
        margin-top: 25%;
    }
    .cell{
        background-color: #1E1E32;
        border-radius: 2rem;
        padding: 15%;
    }
    #icon{
        width: 40%;
        margin-bottom: 5%;
    }
    .cell p{
        color: #FFDB15;
    }
    .logout{
        background-image: linear-gradient(to right, #1E1E32, #FFDB15 );
    }
}
@media screen and (min-width: 480px){
    .container{
        margin-top: 2vh;
        margin-left: 5vw;
    }
    .row{
        display: inline-block;
    }
    .admin_title{
        height: 45vh;
    }
    .admin_title p{
        margin-top: 15vh;
        margin-left: 2vw;
        display: inline-block;
        font-size: 2vw;
        border-left: 8px #FFDB15 solid;
        padding-left: 1vw;
    }
    .cell{
        margin-top: 2vh;
        margin-left: 1vw;
        background-color: #1E1E32;
        width: 20vw;
        height: 45vh;
        border-radius: 20%;
    }
    .cell:hover{
        transition: 0.5s ease;
        background-color: #1e1e32cb;
    }
    .logout{
        background-image: linear-gradient(to right, #1E1E32, #FFDB15 );
        transition: 0.5s ease-in-out;
    }
    .logout:hover{
        background-image: none;
        background-color: rgb(250, 39, 39);
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
}
    .cell p{
        font-size: 2vw;
        margin-left: 2vw;
        color: #FFDB15;
    }
    #icon{
        width: 5vw;
        margin-top: 20vh;
        margin-left: 2vw;
    }
}