*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
@media screen and (min-width: 414px){
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background-color: #1E1E32;
        color: white;
        padding: 0 20px;
    }
    #logout {
        color: #FFDB15;
        text-decoration: none;
        font-weight: bold;
        padding: 2vh 2vw;
        transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -ms-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
    #logout:hover{
        background-color: #FFDB15;
        color: #000000;
    }
    .container-1,.container-2{
        width: 50%;
    }
    .container-1{
        float: left;
    }
    .container-2{
        float: right;
    }
    .bill_list ,.req_list{
        margin: 2rem;
        background-color: white;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    h1{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #FFDB15;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    a{
        color: #000;
    }
    #view{
        text-align: center;
        transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -ms-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
}
    #view:hover{
        background-color: #999;
    }
}
