.req_list,.coach_list{
    margin-left: 25vw;
    border: 1px solid black;
    margin-top: 10vh;
    width: 70vw;
}
#Title{
    font-size: 2rem;
    margin-left: 5vw;
}
.req_list table,.coach_list table{
    width: 65vw;
    margin-left: 2.5vw;
    margin-bottom: 10vh;
}
.req_list th,.req_list td,.coach_list th,.coach_list td{
    border: 1px black solid;
}
#func{
    text-decoration: none;
    color: black;
}