*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #F3F5F9;
}
@media screen and (min-width: 414px){
    .error{
        width: 100vw;
        color: #20721c;
        background-color: #d7f8de;
        font-size: 1.2vw;
    }
    .error p{
        padding: 1.5vh 0vw 1.5vh 2vw;
    }
    .back-button {
        margin: 2% 0 0 2%;
        display: inline-block;
        padding: 1% 2%;
        background-color: #1E1E32;
        color: #FFDB15;
        text-decoration: none;
        font-size: 100%;
        font-weight: bold;
        border-radius: 4px;
        transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -ms-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
}
    .back-button:hover {
        background-color: #4c4c78;
    }
    .info{
        margin-top: 5%;
        background-color: #FFF;
        margin: auto;
        width: 80%;
        padding: 5% 5% 15% 5%;
    }
    #cover{
        height: 30vh;
        float: right;
    }
    .form {
        background-color: #fff;
        box-shadow: 0 10px 60px rgb(218, 229, 255);
        border: 1px solid rgb(159, 159, 160);
        border-radius: 20px;
        padding: 2rem .7rem .7rem .7rem;
        text-align: center;
        font-size: 1.125rem;
    }
    .drop-container {
        margin-left: 5%;
        width: 60vw;
        background-color: #fff;
        position: relative;
        display: flex;
        gap: 2vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1%;
        margin-top: 2.1875rem;
        border-radius: 10px;
        border: 2px dashed rgb(171, 202, 255);
        color: #444;
        cursor: pointer;
        transition: background .2s ease-in-out, border .2s ease-in-out;
    }
    .drop-container:hover {
        background: rgba(0, 140, 255, 0.164);
        border-color: rgba(17, 17, 17, 0.616);
    }
    .drop-container:hover .drop-title {
        color: #222;
    }
    .drop-title {
        color: #444;
        font-size: 130%;
        font-weight: bold;
        text-align: center;
        transition: color .2s ease-in-out;
    }
    #file-input {
        font-size: 100%;
        width: 50vw;
        color: #444;
        padding: 1%;
        background: #fff;
        border-radius: 10px;
        border: 1px solid rgba(8, 8, 8, 0.288);
    }
    #file-input::file-selector-button {
        margin-right: 2%;
        border: none;
        background: #084cdf;
        padding: 1.5% 2%;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        transition: background .2s ease-in-out;
    }
    #file-input::file-selector-button:hover {
        background: #0d45a5;
    }
    .add-attachement{
        width: 80%;
        margin: auto;
        margin-top: 5%;
        background-color: #FFF;
        padding: 5%;
    }
    .add-attachement *{
        display: block;
    }
    .input,select{
        font-size: 100%;
        margin: 5% 0 5% 5%;
        width: 60vw;
        height: 5vh;
        padding: 2%;
        border: #000 solid 1px;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
    select{
        padding: 0;
        color: #999;
    }
    #sub{
        padding: 2% 5%;
        margin: auto;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        border: #000 solid 1px;
        background-color: #FFDB15;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        font-size: 100%;
    }
    #sub:hover{
        background-color: #8a780e;
        color: #FFF;
    }
    .container{
        display: flex;
        flex-wrap: nowrap;
    }
    .show-cours,.show-doc{
        margin: 5% 5%;
        width: 35%;
        background-color: #FFF;
        padding: 4%;
    }
    .show-cours{
        margin-left: 10%;
    }
    h3{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    a.delete_att {
        background-color: #f44336;
        color: white;
        padding: 3% 3%;
        border-radius: 4px;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
        float: right;
        margin-bottom: 2%;
        -webkit-transition: background-color 0.3s ease-in-out;
        -moz-transition: background-color 0.3s ease-in-out;
        -ms-transition: background-color 0.3s ease-in-out;
        -o-transition: background-color 0.3s ease-in-out;
    }
    a.delete_att:hover {
        background-color: #d32f2f;
    }
    table{
        width: 100%;
    }
    table td:first-child{
        width: 90%;
    }
    table td:last-child{
        width: 10%;
    }
}