*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
@media screen and (min-width: 414px) {
    .search-container {
        display: flex;
        align-items: center;
        width: 70vw;
        margin: 10vh 15vw 5vh 15vw;
    }
    #search-input {
        width: 100%;
        padding: 2vh 2vw 2vh 2vw;
        border: 2px solid #ccc;
        font-size: 1.2vw;
        outline: none;
        border-right: none;
    }
    #search-btn {
        padding: 2vh 2vw 2vh 2vw;
        border: none;
        border: 2px solid #ccc;
        border-left: none;
        background-color: #FFDB15;
        color: #000000;
        font-size: 16px;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
    }
    #search-btn:hover{
        background-color: #a48e12;
    }
    .playlist {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cours {
        width: 20vw;
        height: fit-content;
        margin: 3vh 2vw 3vh 2vw;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        text-align: center;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
    }
    .cours:hover{
        margin-top: 2vh;
        padding-bottom: 1vh;
    }
    .cours #cover {
        width: 100%;
        object-fit: cover;
    }
    .cours #title {
        font-size: 1.2em;
        font-weight: bold;
        margin: 10px 0;
        color: #000000;
    }
    .cours #type {
        font-size: 1.1em;
        margin: 5px 0;
        color: #000000;
    }
    .cours #price {
        font-size: 1.2em;
        font-weight: bold;
        margin: 5px 0;
        color: #0077FF;
    }
}