*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
@media screen and (min-width: 414px){
    footer{
        width: 100vw;
        margin-top: 10vh;
        background-color: #1E1E32;
        bottom: 0;
    }
    .cont-1{
        display: inline-block;
        width: 50vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .cont-1 a{
        display: block;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1.2vw;
        line-height: 8vh;
        margin-left: 10vw;
        transition: 0.5s;
        text-align: center;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }
    .cont-1 a:hover{
        transition: 0.5s;
        color: #000000;
        background-color: #FFFFFF;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    .cont-2{
        width: 100vw;
        display: inline-block;
    }
    .icon{
        width: 5vw;
        float: right;
        padding: 2vh 1vw 2vh 1vw;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}
    .icon:hover{
        transition: 0.5s;
        padding: 1vh 0.5vw 1vh 0.5vw;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}
    .copyright{
        color: #FFFFFF;
    }
}
@media screen and (max-width: 414px){
    footer{
        background-color: #1E1E32;
    }
    .cont-1,.cont-2,.copyright{
        width: 100vw;
        display: block;
    }
    .cont-1 a{
        display: block;
        color: #ffffff;
        text-decoration: none;
        font-size: 5vw;
        margin-left: 5vw;
        margin-top: 2vh;
    }
    .icon{
        width: 10vw;
        float: right;
    }
    .socialmedia{
        margin-top: 3vh;
        height: 5vh;
    }
    .copyright{
        color: #FFFFFF;
    }
}