@keyframes m-piano {0%{ transform:translateX(0);}50%{ transform:translateX(-40%);}100%{ transform:translateX(0);}}
@keyframes m-banjo {0%{ transform:translateX(0);}50%{ transform:translateX(40%);}100%{ transform:translateX(0);}}
@keyframes m-drum {0%{ transform:translate(0);}50%{ transform:translate(-45%,60%);}100%{ transform:translate(0) ;}}
@keyframes m-sax {0%{ transform:translate(0);}50%{ transform:translate(45%,60%);}100%{ transform:translate(0) ;}}
@keyframes m-acc-idk {0%{ transform:translateX(0);}50%{ transform:translateY(80%);}100%{ transform:translateX(0);}}
@keyframes piano {0%{margin: 22% 7% 0 0;}50%{margin: 22% 4% 0 0;}100%{margin: 22% 7% 0 0;}}
@keyframes drum {0%{margin: 13% 8% 0 0;}50%{margin: 12% 5% 0 0;}100%{margin: 13% 8% 0 0;}}
@keyframes acc {0%{margin: 8% 16% 0 0;}50%{margin: 6% 14% 0 0;}100%{margin: 8% 16% 0 0;}}
@keyframes idk {0%{margin: 7% 26% 0 0;}50%{margin: 5% 27% 0 0;}100%{margin: 7% 26% 0 0;}}
@keyframes sax {0%{margin: 13% 32% 0 0;}50%{margin: 11% 34% 0 0;}100%{margin: 13% 32% 0 0;}}
@keyframes banjo {0%{margin: 20% 35% 0 0;}50%{margin: 20% 37% 0 0;}100%{margin: 20% 35% 0 0;}}
@keyframes service-card-hover {0%{ transform: translateY(0);}50%{ transform: translateY(-2%); -webkit-transform: translateY(-2%); -moz-transform: translateY(-2%); -ms-transform: translateY(-2%); -o-transform: translateY(-2%); }100%{ transform: translateY(0);}}
@keyframes wave{0%{background-position-x: 0;}100%{background-position-x: 500%;}}
@keyframes wave2{0%{background-position-x: 0;}100%{background-position-x: -500%;}}
@keyframes move-up6 {to { transform: translateY(-20%);}}
@keyframes move-down1 {to { transform: translateY(20%);}}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}
@media screen and (max-width:480px){
    hr{
        width: 80%;
        margin: auto;
    }
    #section-1{
        width: 100%;
        height: 88vh;
    }
    .wave-background{
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 80vh;
        background: linear-gradient(to right ,#FFDB15,#8ED1FC);
        overflow: hidden;
    }
    .wave-background .air{
        z-index: -1;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
        background-size: 1000px 100px
    }
    .wave-background .air.air1{
        animation: wave 30s linear infinite;
        z-index: 1000;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0;
    }
    .wave-background .air.air2{
        animation: wave2 15s linear infinite;
        z-index: 999;
        opacity: 0.5;
        animation-delay: -5s;
        bottom: 10px;
    }
    .wave-background .air.air3{
        animation: wave 30s linear infinite;
        z-index: 998;
        opacity: 0.2;
        animation-delay: -2s;
        bottom: 15px;
    }
    .wave-background .air.air4{
        animation: wave2 5s linear infinite;
        z-index: 997;
        opacity: 0.7;
        animation-delay: -5s;
        bottom: 20px;
    }
    .summary{
        padding: 5%;
    }
    .summary h1{
        margin: 5%;
        font-size: 300%;
    }
    .summary span{
        width: 100%;
        font-size: 110%;
        margin: 5%;
    }
    #laptop{
        position: absolute;
        width: 50%;
        bottom: 0;
        right: 0;
        margin: 0 27% 5% 0;
        margin-right: 25%;
    }
    .img{
        z-index: -1;
        position: absolute;
        width: 20%;
        bottom: 0;
    }
    .piano{
        animation: m-piano 2s infinite ease-in-out;
        right: 0;
        margin: 0 0 25% 0;
    }
    .drum{
        animation: m-drum 2s infinite ease-in-out;
        right: 0;
        margin: 0 2% 58% 0;
    }
    .acc{
        right: 0;
        margin: 0 30% 65% 0;
        animation: m-acc-idk 2s infinite ease-in-out;
    }
    .idk{
        left: 0;
        margin: 0 0 65% 25%;
        animation: m-acc-idk 2s infinite ease-in-out;
    }
    .sax{
        left: 0;
        margin: 0 0 55% 3%;
        animation: m-sax 2s infinite ease-in-out;
    }
    .banjo{
        animation: m-banjo 2s infinite ease-in-out;
        left: 0;
        margin: 0 0 25% 0;
    }
    .summary button{
        width: 50%;
        padding: 5%;
        font-size: 110%;
        margin: 5% 25% 0 25%;
        background-color: #FFDB15;
        border: #c5a700 solid 1px;
        border-radius: 1rem;
    }
    #section-2{
        width: 100%;
        height: 100vh;
    }
    .service-img img{
        display: none;
    }
    .service-cards{
        width: 100%;
        height: 100vh;
    }
    .service-title-div{
        padding: 5%;
        padding-bottom: 2%;
        font-size: 150%;
    }
    .service-card-div{
        color: #5e5e5e;
        padding: 1%;
    }
    .service-card-div *{
        padding: 1%;
    }
    .service-card{
        margin: 5%;
        width: 90%;
        height: 25vh;
        background-color: #fff;
        box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
        border: #e3e3e3 solid 1px;
        border-radius: 1rem;
    }
    .service-card-img{
        float: left;
        width: 25%;
        height: 25vh;
    }
    .service-card img{
        margin-top: 50%;
        width: 100%;
    }
    .service-card-content h2{
        font-size: 100%;
    }
    .service-card-content span{
        font-size: 90%;
    }
    .service-card button{
        padding: 2%;
        margin-left: 45%;
        background-color: #FFDB15;
        border: #cdb111;
        border-radius: 0.5rem;
    }
    #section-3{
        width: 100%;
        height: 100vh;
    }
    .news-title{
        width: 100%;
    }
    .news-title img{
        z-index: -1;
        width: 35%;
        margin: 2%;
    }
    .news-title span{
        position: absolute;
        margin: 5%;
        font-size: 130%;
    }
    .news-title label{
        width: 100%;
        display: block;
        margin: 2%;
    }
    .news-search-container{
        width: 100%;
    }
    .search-container{
        width: 80%;
        margin: 2% 10%;
        border: #999 solid 1px;
        border-radius: 1rem;
    }
    .news-search-container input{
        border: none;
        border-radius: 1rem;
        padding: 2%;
        width: 90%;
    }
    .search-container a{
        width: 10%;
        padding: 0.5%;
        margin: 1%;
    }
    .news-marque{
        width: 90%;
        margin: 5% 5%;
    }
    .news-marque marquee{
        background: #f1f1f1;
        border-radius: 1rem;
        height: 60vh;
        box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
    }
    .card{
        border-radius: 1rem;
        background-color: #ebeaea;
        display: inline-block;
        width: 80%;
        height: 60vh;
        white-space: nowrap;
        overflow: hidden;
        margin: 0 5%;
    }
    .image{
        width: 100%;
        height: 20vh;
    }
    .content{
        width: 100%;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .content a{
        color: #000;
        margin: 5%;
        display: inline-block;
        width: 90%;
        word-break: break-all;
        text-overflow: ellipsis;
    }
    .content span{
        display: inline;
        width: 100%;
        height: 30vh;
        word-break: break-all;
    }
    .content p {
        margin: 5%;
        margin-bottom: 0;
        height: 20vh;
        overflow: hidden;
    }
    .action{
        color: #000;
        padding: 2% 5%;
        border-radius: 0.5rem;
        background-color: #FFDB15;
    }
    #section-4{
        width: 100%;
        height: 100vh;
    }
    .course-title{
        margin: 5%;
        font-size: 1.5rem;
    }
    .course-type-container{
        display: flex;
    }
    .course-type-container-img{
        height: 14vh;
    }
    .course-type-container img{
        width: 100%;
        border-radius: 1rem;
        background-color: #fff;
        box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
        border: #e3e3e3 solid 1px;
        padding: 2% 5%;
        max-width: 40%;
        margin: 1% 30%;
    }
    #section-5{
        width: 100%;
        height: 100vh;
    }
    .coaches img{
        position: absolute;
        width: 35%;
        margin: 5%;
        right: 0;
    }
    .coaches-title{
        width: 50%;
        margin: 10%;
        font-size: 1.5rem;
    }
    .coaches-container{
        width: 100%;
        height: 70vh;
    }
    .coach-card{
        z-index: 1;
        background: rgba(255,255,255,.05);
        box-shadow: 0 0 10px rgba(0,0,0,0.25);
        backdrop-filter: blur(10px);
        padding: 4%;
        width: 90%;
        height: 20vh;
        margin: 5% 5%;
        border-radius: 1rem;
    }
    .card-inner-img{
        position: absolute;
        width: 40%;
        height: 10vh;
        right: 0;
        margin-right: 5%;
        border-radius: 50%;
    }
    .card-inner-img img{
        border: #999 solid 1px;
        object-fit: cover;
        width: 80%;
        border-radius: 50%;
        height: 15vh;
    }
    .card-inner-content{
        width: 90%;
        height: 20vh;
        float: left;
        width: 60%;
    }
    .card-inner-content label{
        display: block;
        margin:  10% 5%;
    }
    .card-inner-content a{
        text-align: center;
        display: block;
        margin:  10% 5%;
        color: #000;
        background-color: #FFDB15;
        padding: 2%;
        border-radius: 0.5rem;
    }
}
@media screen and (min-width: 480px){
    .wave-background{
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 80vh;
        background: linear-gradient(to right ,#FFDB15,#8ED1FC);
        overflow: hidden;
    }
    .wave-background .air{
        z-index: -1;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
        background-size: 1000px 100px
    }
    .wave-background .air.air1{
        animation: wave 30s linear infinite;
        z-index: 1000;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0;
    }
    .wave-background .air.air2{
        animation: wave2 15s linear infinite;
        z-index: 999;
        opacity: 0.5;
        animation-delay: -5s;
        bottom: 10px;
    }
    .wave-background .air.air3{
        animation: wave 30s linear infinite;
        z-index: 998;
        opacity: 0.2;
        animation-delay: -2s;
        bottom: 15px;
    }
    .wave-background .air.air4{
        animation: wave2 5s linear infinite;
        z-index: 997;
        opacity: 0.7;
        animation-delay: -5s;
        bottom: 20px;
    }
    input,button,a{
        cursor: pointer;
    }
    #svg{
        position: absolute;
    }
    hr{
        width: 80%;
        margin: auto;
    }
    .summary{
        width: 100%;
        height: 90vh;
    }
    #laptop{
        position: absolute;
        width: 20%;
        right: 0;
        bottom: 0;
        margin-right: 15%;
        margin-bottom: 4%;
    }
    .img{
        position: absolute;
        width: 8%;
        right: 0;
    }
    .idk{
        animation: idk 2s infinite ease-in-out;
        transform: rotate(90deg);
    }
    .banjo{
        transform: rotate(275deg);
        animation: banjo 2s infinite ease-in-out;
    }
    .piano{
        animation: piano 2s infinite ease-in-out;
        transform: rotate(15deg);
    }
    .sax{
        animation: sax 2s infinite ease-in-out;
    }
    .acc{
        animation: acc 2s infinite ease-in-out;
        transform: rotate(20deg);
    }
    .drum{
        animation: drum 2s infinite ease-in-out;
    }
    .summary h1{
        position: absolute;
        font-size: 400%;
        font-family: Franklin Gothic Medium	;
        margin: 10% 10% 10% 15%;
    }
    .summary span{
        position: absolute;
        font-size: 200%;
        margin: 18% 0 0 10%;
    }
    .summary button{
        position: absolute;
        margin: 25% 0 0 25%;
        padding: 1% 3%;
        background-color: #FFDB15;
        border: none;
        font-size: 100%;
        border-radius: 1rem;
    }
    .summary button:hover{
        background-color: #cdb111;
    }
    .services{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .service-img{
        width: 30%;
        height: 100vh;
    }
    .service-img img{
        z-index: -1;
        filter: drop-shadow(-2vw 2vh 10rem #FFDB15);
        width: 90%;
        margin: 30% 0 0 5%;
    }
    .service-cards{
        width: 70%;
        height: 100vh;
    }
    .service-title-div{
        display: block;
        height: 15vh;
    }
    .service-title{
        width: fit-content;
        margin: 5% 0 0 20%;
    }
    .service-title span{
        font-family: "Montserrat";
        font-size: 200%;
    }
    .service-card-div{
        margin-right: 5%;
        display: flex;
        justify-content: space-between;
    }
    .service-card{
        box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
        cursor: pointer;
        padding: 2%;
        width: 30%;
        border-radius: 1rem;
        height: fit-content;
        min-height: 60vh;
    }
    .service-card:hover{
        animation: service-card-hover 2s ease-in-out infinite;
    }
    .service-card-img img{
        width: 35%;
        margin: 15% 0 0 30%;
    }
    .service-card button{
        cursor: pointer;
        border-radius: 0.5rem;
        border: none;
        background-color: #FFDB15;
        padding: 3% 4%;
        margin: 20% 0 0 30%;
    }
    .service-card button:hover{
        background-color: #cdb111;
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
    }
    .news{
        width: 100%;
        height: 100vh;
    }
    .news-title{
        width: 100%;
    }
    .news-title img{
        width: 15%;
        position: absolute;
        right: 0;
        margin: 2%;
    }
    .news-title span{
        font-size: 170%;
        display: block;
        margin: 3% 5%;
        padding-top: 3%;
    }
    .news-title label{
        width: 70%;
        font-size: 120%;
        display: block;
        margin: 1% 10%;
    }
    .news-search-container{
        padding-top: 2%;
        width: 100%;
    }
    .search-container{
        outline: #000 1px solid;
        width: 80%;
        border-radius: 2rem;
        margin-left: 10%;
    }
    .news-search-container input{
        border-radius: 2rem;
        border: none;
        width: 95%;
        padding: 1%;
        font-size: 120%;
    }
    .news-search-container input:focus{
        border: none;
        outline: none;
    }
    .search-container a{
        padding: 1%;
    }
    .news-marque{
        border-radius: 2rem;
        background: #f1f1f1;
        box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
        width: 90%;
        margin: 5% 5%;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
    }
    .news-marque marquee{
        border-radius: 2rem;
    }
    .card {
        border: #000 1px solid;
        width: 20%;
        margin-right: 2%;
        display: inline-block;
        height: 55vh;
        border-radius: 1rem;
        background-color: #ebeaea;
        border: 1px solid transparent;
    }
    .content {
        padding: 1.1rem;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .image {
        background-size: cover;
        width: 100%;
        height: 150px;
        background-color: rgb(239, 205, 255);
    }
    .title {
        overflow: hidden;
        width: 10vw;
        color: #111827;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 600;
    }
    .desc {
        margin-top: 0.5rem;
        color: #6B7280;
        font-size: 0.875rem;
        line-height: 1.25rem;
        height: 12vh;
        overflow: hidden;
    }
    .action {
        display: inline-flex;
        margin-top: 1rem;
        color: #000000;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        align-items: center;
        gap: 0.25rem;
        background-color: #FFDB15;
        padding: 4px 8px;
        border-radius: 4px;
    }
    .action span {
        transition: .3s ease;
    }
    .action:hover span {
        transform: translateX(4px);
    }
    .coaches{
        width: 100%;
        height: 100vh;
    }
    .coaches img{
        width: 15%;
        position: absolute;
        left: 0;
        margin: 2%;
    }
    .coaches-title{
        font-size: 150%;
        padding-top: 2%;
        margin: 0 0 0 30%;
    }
    .coaches-container{
        justify-content: space-between;
        display: flex;
        margin: 15% 15% 0 15%;
    }
    .coach-card {
        width: 25%;
        height: 50vh;
        transition: all 0.2s;
        position: relative;
        cursor: pointer;
      }
    .card-inner {
        width: 100%;
        height: inherit;
        background: rgba(255,255,255,.05);
        box-shadow: 0 0 10px rgba(0,0,0,0.25);
        backdrop-filter: blur(10px);
        border-radius: 1rem;
    }
    .coach-card:hover {
        transform: scale(1.04) rotate(1deg);
    }
    .circle {
        width: 40%;
        height: 30%;
        background: radial-gradient(rgb(251, 255, 0), #FFDB15);
        border-radius: 50%;
        position: absolute;
        animation: move-up6 2s ease-in infinite alternate-reverse;
    }
    .circle:nth-child(1) {
        top: -10%;
        left: -15%;
    }
    .circle:nth-child(2) {
        top: 80%;
        left: 80%;
        animation-name: move-down1;
    }
    .card-inner-img{
        display: block;
    }
    .card-inner-img img{
        max-height: 18vh;
        width: 50%;
        margin: 10% 25% 2% 25%;
        background-color: #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .card-inner-content{
        text-align: center;
        display: block;
        padding: 80% 20% 0 20%;
    }
    .card-inner a{
        margin-top: 25%;
        display: block;
        background-color: #FFDB15;
        color: #000;
        padding: 8% 5%;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }
    .course{
        width: 100%;
        height: 100vh;
    }
    .course-title{
        font-size: 150%;
        width: 100%;
        padding-top: 5%;
    }
    .course-title label{
        margin-left: 35%;
    }
    .course-type-container{
        width: 90%;
        margin: 5% 5% 0 5%;
    }
    .course-type-container-row1,.course-type-container-row2{
        margin-top: 2%;
        display: flex;
    }
    .course-type-container-img{
        padding: 2%;
        width: 15%;
        box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
        border-radius: 2rem;
        margin: 1%;
    }
    .course-type-container-img:hover{
        transform: translateY(-2%);
        transform: rotate(2deg);
        transition: 0.3s ease-in-out;
    }
    .course-type-container img{
        width: 100%;
        border-radius: 2rem;
    }
    .course-type-container a{
        margin: 2%;
    }
}