*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
@media screen and (max-width: 480px) {
    .error{
        width: 100%;
        color: #721c24;
        background-color: #f8d7da;
        font-size: 1rem;
    }
    .error p{
        padding: 4%;
    }
    .container{
        border-radius: 1rem;
        width: 90%;
        margin: 20% 5%;
    }
    .container img{
        width: 70%;
        margin-left: -5%;
    }
    .switch{
        width: 80%;
        margin: 5% 10% 0 10%;
    }
    #exp{
        background-color: #FFDB15;
    }
    .switch button{
        background-color: transparent;
        border: #999 1px solid;
        border-radius: 1rem;
        padding: 5% 10%;
        margin-left: 8%;
    }
    .user_con,.coach_con{
        width: 90%;
        margin: 5% 5%;
        padding: 0 5% 5% 5%;
    }
    .user_con *,.coach_con *{
        display: block;
    }
    .user_con input,.coach_con input{
        border: #999 solid 1px;
        border-radius: 1rem;
        margin: 15% 0;
        padding: 5%;
        width: 100%;
    }
    .sub{
        background-color:#FFDB15;
    }
    .container a{
        margin-left: 15%;
        color:rgb(4, 4, 224);
    }
    .coach_con{
        display: none;
    }
    .copyright{
        color: #999;
        position: absolute;
        bottom: 0;
    }
}
@media screen and (min-width: 480px){
    .error{
        width: 100vw;
        color: #721c24;
        background-color: #f8d7da;
        font-size: 1.2vw;
    }
    .error p{
        padding: 1.5vh 0vw 1.5vh 2vw;
    }
    .container{
        border-radius: 2rem;
        margin: 5% 30% 0 30%;
        width: 40%;
        height: 80vh;
        padding: 3% 5%;
    }
    .container *{
        display: block;
    }
    .container img{
        width: 50%;
        margin: 5% 0 5% 22%;
    }
    .switch{
        border-radius: 1rem;
        width: 80%;
        margin-left: 10%;
    }
    #exp{
        background-color: #FFDB15;
    }
    .container button{
        border-radius: 1rem;
        display: inline-block;
        border: #999 1px solid;
        width: 48%;
        padding: 2% 0;
        background-color: transparent;
    }
    .container input{
        border: 1px #999 solid;
        border-radius: 0.5rem;
        width: 100%;
        padding: 2%;
        margin: 10% 0;
        transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -ms-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
    }
    .container input:focus{
        background-color: #e2e1e1;
    }
    .sub{
        background-color: #FFDB15;
    }
    .sub:hover{
        background-color: #d7ba13;
    }
    .coach_con{
        display: none;
    }
    .container a{
        color: rgb(2, 2, 176);
        text-align: center;
    }
    .container a:hover{
        color:rgb(4, 4, 224);
    }
    .copyright{
        color: #999;
        position: absolute;
        bottom: 0;
    }
}