*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #F3F5F9;
}
@media screen and (min-width: 414px){
    .error{        width: 100vw;
        color: #20721c;
        background-color: #d7f8de;
        font-size: 1.2vw;
    }
    .error p{
        padding: 1.5vh 0vw 1.5vh 2vw;
    }
    .container{
        margin-top: 8vh;
        margin-left: 20vw;
        display: inline-block;
    }
    #main_title{
        font-size: 2vw;
        border-left: #FFDB15 solid 5px;
        padding-left: 1vw;
        margin-bottom: 4vh;
    }
    .view,.add{
        background-color: #FFF;
        width: 70vw;
        padding: 5% 5%;
        margin: 4% 0;
    }
    .input{
        display: block;
        width: 90%;
        margin: 2%;
        padding: 1% 2%;
    }
    #sub{
        display: block;
        float: right;
        padding: 1% 2%;
        background-color: #FFDB15;
        border: #000 solid 1px;
        border-radius: 0.5rem;
        font-size: 100%;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
    #sub:hover{
        background-color: #95800c;
        color: #fff;
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
    }
    table{
        margin-top: 2%;
        width: 100%;
    }
    th{
        background-color: #FFDB15;
    }
    td{
        border-bottom: 1px solid #000;
        text-align: center;
    }
    #delete{
        color: red;
        transition: 0.3s ease-in-out;
    }
    #delete:hover{
        color: rgb(121, 0, 0);
}
}