*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #F3F5F9;
}
@media screen and (min-width: 414px){
    .container{
        margin-top: 8vh;
        margin-left: 20vw;
        display: inline-block;
    }
    #main_title{
        font-size: 2vw;
        border-left: #FFDB15 solid 5px;
        padding-left: 1vw;
        margin-bottom: 4vh;
    }
    #sec_title{
        font-size: 3vw;
        margin-bottom: 4vh;
    }
    .input{
        width: 75vw;
        height: 7vh;
        margin-bottom: 7vh;
        font-size: 1.2vw;
        border: none;
    }
    .text{
        height: 20vh;
        resize: none;
    }
    #file{
        width: 60vw;
        height: 7vh;
        background-color: #FFFFFF;
        margin-right: 2vw;
    }
    ::placeholder{
        padding-left: 1vw;
    }
    ::content{
        padding-left: 1vw;
    }
    ::file-selector-button{
        width: 15vw;
        height: 7vh;
        margin-right: 2vw;
        border: none;
        font-size: 1.2vw;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
    }
    ::file-selector-button:hover{
        background-color: #FFDB15;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
    }
    #sub{
        width: 13vw;
        height: 7vh;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        border: none;
        background-color: #FFDB15;
        font-size: 1.2vw;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
    }
    #sub:hover{
        background-color: #d0b416;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
    }
    .news-list{
        margin-top: 8vh;
    }
    table{
        width: 75vw;
        margin-bottom: 5vh;
    }
    th{
        border: #000000 solid 1px;
        background-color: #FFDB15;
        font-size: 1.2vw;
        overflow: hidden;
    }
    td{
        background-color: #FFFFFF;
        border: #000000 solid 1px;
    }
    #media{
        width: 5vw;
    }
    #func_edit{
        background-color: #C1FF72;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
    }
    #func_edit:hover{
        background-color: #92ff04;
    }
    #func_remove{
        background-color: #FF6969;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
    }
    #func_remove:hover{
        background-color: #ff0000;
        cursor: pointer;

    }
    #func_edit a,#func_remove a{
        color: #000000;
    }
}