.container{
    margin-left: 25vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border: 3px solid #f1f1f1;
    width: 70vw;
    height: 70vh;
    box-shadow: 0.5rem 0.5rem #f1f1f1;
}
#title{
    font-size: 2rem;
    margin-left: 5vw;
}
.info{
    width: 40vw;
    float: left;
}
.info p{
    font-size: 1rem;
}
.pfp{
    width: 30vw;
    float: right;
}
#acclogo{
    width: 10vw;
    display: grid;
    background-color: #f1f1f1;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
.container p{
    padding: 1.5rem;
}