<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> DVibes</title>
        <link rel="icon" href="../../static/assets/Untitled design.png"/>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/preloader.css')}}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/coach-manager.css')}}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/admin-sidebar.css')}}">
    </head>
    <body>
        <div class="preloader" id="preloader">
            <div class="middle">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
                <div class="bar bar4"></div>
                <div class="bar bar5"></div>
                <div class="bar bar6"></div>
                <div class="bar bar7"></div>
                <div class="bar bar8"></div>
            </div>
        </div>
        <div class="sidebar">
            <div class="main">
                <ul>
                    <li><a href="/admin/events-manager">Event manager</a></li>
                    <hr>
                    <li><a href="/admin/coach-manager" class="active">Coach<br>Manager</a></li>
                    <hr>
                    <li><a href="/admin/course-manager">Course Manager</a></li>
                    <hr>
                    <li><a href="/admin/payment-manager">Payment manager</a></li>
                    <hr>
                    <li><a href="/admin/news-manager">News Manager</a></li>
                    <hr>
                    <li><a href="/admin/coach-requests">Coach Request</a></li>
                </ul>
            </div>
            <div class="logout_con">
                <a href="/logout-admin" id="logout"><b>Log out</b></a>
            </div>
        </div>
        <div class="container">
            <p id="main_title"><b>Coach Manager</b></p>
            <div class="coach_list">
                <table>
                    <form method=post>
                        <tbody>
                            {% for header in heading_coach %}
                                <th>{{  header  }}</th>
                            {% endfor %}
                            {% for row in data %}
                                <tr>
                                    <td>{{  row[0]  }}</td>
                                    <td>{{  row[2]  }}</td>
                                    <td>{{  row[4]  }}</td>
                                    <td>{{  row[5]  }}</td>
                                    {% if row[3] == "None" %}
                                        <td><img src="../../static/assets/user-avatar.svg"/></td>
                                    {% else %}
                                        <td>{{  row[3]  }}</td>
                                    {% endif %}
                                    <td class="func_remove"><a href="/admin/coach-manager/remove:{{row[0]}}">remove</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </form>
                </table>
            </div>
        </div>
    </body>
    <script>
        let loader = document.getElementById("preloader");
        window.addEventListener("load", function(){
            loader.style.display = "none";
        })
    </script>
</html>