<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> DVibes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" id="title-icon">
        <link rel="icon" href="../../static/assets/Untitled design.png"/>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/admin-sidebar.css')}}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/preloader.css')}}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/coach-requests.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="{{ url_for('static',filename='script.js/NavBarMenu.js')}}" type="text/javascript"></script>
    </head>
    <body>
        <div class="preloader" id="preloader">
            <div class="anim-box">
                <div class="anim-interieur">
                    <div class="rect rect1"></div>
                    <div class="rect rect2"></div>
                    <div class="rect rect3"></div>
                    <div class="rect rect4"></div>
                    <div class="rect rect5"></div>
                </div>
            </div>
        </div>
        </div>
        <div class="sidebar">
            <div class="menu">
                <button type="button" onclick="NavBarMenu()"><i class="fas fa-bars"></i></button>
            </div>
            <div class="main" id="elements-links">
                <ul>
                    <li><a href="/admin/events-manager">Event manager</a></li>
                    <hr>
                    <li><a href="/admin/coach-manager">Coach Manager</a></li>
                    <hr>
                    <li><a href="/admin/course-manager">Course Manager</a></li>
                    <hr>
                    <li><a href="/admin/payment-manager">Payment manager</a></li>
                    <hr>
                    <li><a href="/admin/news-manager">News Manager</a></li>
                    <hr>
                    <li><a href="/admin/coach-requests" class="active">Coach<br>Request</a></li>
                </ul>
            </div>
            <div class="logout_con" id="elements-logins">
                <a href="/logout-admin" id="logout"><b>Log out</b></a>
            </div>
        </div>
        <div class="container">
            <p id="main_title"><b>Coach Requests</b></p>
            <div class="req_list">
                <table>
                    <form method=post>
                        <tbody>
                        {% for header in heading_req %}
                            <th>{{header}}</th>
                        {% endfor %}
                        {% for row_req in requests %}
                            <tr>
                                <td>{{row_req[0]}}</td>
                                <td>{{row_req[1]}}</td>
                                <td>{{row_req[2]}}</td>
                                <td>{{row_req[3]}}</td>
                                <td>{{row_req[4]}}</td>
                                <td>{{row_req[5]}}</td>
                                <td><img class="media" src="../{{row_req[6]}}"></td>
                                <td id="func_remove"><a href="/admin/coach-requests/remove:{{row_req[0]}}">Decline</a></td>
                                <td id="func_accept"><a href="/admin/coach-requests/accept:{{row_req[0]}}">Accept</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </form>
                </table>
            </div>
        </div>
    </body>
    <script>
        let loader = document.getElementById("preloader");
        window.addEventListener("load", function(){
            loader.style.display = "none";
        })
    </script>
</html>