<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DVibes</title>
        <link rel="icon" href="../../static/assets/Untitled design.png"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/preloader.css')}}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/login.css')}}">
        <script src="{{ url_for('static',filename='script.js/CheckLogin.js')}}" type="text/javascript"></script>
    </head>
    <body>
        <div class="preloader" id="preloader">
            <div class="middle">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
                <div class="bar bar4"></div>
                <div class="bar bar5"></div>
                <div class="bar bar6"></div>
                <div class="bar bar7"></div>
                <div class="bar bar8"></div>
            </div>
        </div>
        <div class="error">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="head">
            <a href="/"><img class="logo" src="../../static/assets/User_name-removebg-preview.png"></a>
        </div>
        <form method="post">
        <div class="check">
            <div class="user_con">
                <button type="button" onclick="CheckLoginUser()" class="btn user" id="user">Login as an explorer</button>
                <div class="user_login" id="user_login">
                    <p>Explorer Login</p>
                        <input type="text" name="user_username" placeholder="Email or Username" value="" class="input username">
                        <input type="password" name="user_password" placeholder="Password" value="" class="input password">
                        <input type="submit" value="LOG IN" class="input sub">
                        <a href="/singup">You don't have an account ?</a>
                </div>
            </div>
            <div class="coach_con">
                <button type="button" onclick="CheckLoginCoach()" class="btn coach" id="coach">Login as a Coach</button>
                <div class="coach_login" id="coach_login">
                    <p>Coach Login</p>
                        <input type="text" name="coach_username" placeholder="Email or Username" value="" class="input username">
                        <input type="password" name="coach_password" placeholder="Password" value="" class="input password">
                        <input type="submit" value="LOG IN" class="input sub">
                        <a href="/becoach">Become a coach to day !</a>
                </div>
            </div>
        </div>
        </form>
        <div class="copyright">
            <p>DVibes © 2023 Company, Inc</p>
        </div>
    </body>
    <script>
        let loader = document.getElementById("preloader");
        window.addEventListener("load", function(){
            loader.style.display = "none";
        })
    </script>
</html>