<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DVibes</title>
        <link rel="icon" href="../../static/assets/Untitled design.png"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/preloader.css')}}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/login.css')}}">
        <script src="{{ url_for('static',filename='script.js/CheckLogin.js')}}" type="text/javascript"></script>
    </head>
    <body>
        <div class="preloader" id="preloader">
            <div class="middle">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
                <div class="bar bar4"></div>
                <div class="bar bar5"></div>
                <div class="bar bar6"></div>
                <div class="bar bar7"></div>
                <div class="bar bar8"></div>
            </div>
        </div>
        <div class="error">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="check">
            <div class="container">
                <a href="/"><img src="../../static/assets/2-removebg-preview.png" id="logo"></a>
                <div class="switch">
                    <button id="exp" onClick="Switch('explorer')">Explorer</button>
                    <button id="ch" onClick="Switch('coach')">Coach</button>
                </div>
                <form method="post">
                <div class="user_con" id="user_login">
                    <div class="user_login">
                        <input type="text" name="user_username" placeholder="Email or Username" value="" class="input username">
                        <input type="password" name="user_password" placeholder="Password" value="" class="input password">
                        <input type="submit" value="LOG IN" class="input sub">
                        <a href="/singup">You don't have an account ?</a>
                    </div>
                </div>
                <div class="coach_con" id="coach_login">
                    <div class="coach_login">
                        <input type="text" name="coach_username" placeholder="Email or Username" value="" class="input username">
                        <input type="password" name="coach_password" placeholder="Password" value="" class="input password">
                        <input type="submit" value="LOG IN" class="input sub">
                        <a href="/becoach">Become a coach to day !</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="copyright">
            <p>DVibes © 2023 Company, Inc</p>
        </div>
    </body>
    <script>
        function Switch(section){
            if(section == "coach"){
                document.getElementById("logo").src="../../static/assets/2-removebg-preview-coach-removebg-preview.png";
                document.getElementById("coach_login").style.display = "block";
                document.getElementById("user_login").style.display="none";
                document.getElementById("ch").style.backgroundColor = "#FFDB15";
                document.getElementById("exp").style.backgroundColor = "#ffffff";
            }if(section == "explorer"){
                document.getElementById("logo").src="../../static/assets/2-removebg-preview.png";
                document.getElementById("user_login").style.display = "block";
                document.getElementById("coach_login").style.display="none";
                document.getElementById("exp").style.backgroundColor = "#FFDB15";
                document.getElementById("ch").style.backgroundColor = "#ffffff";
            }
        }
        let loader = document.getElementById("preloader");
        window.addEventListener("load", function(){
            loader.style.display = "none";
        })
    </script>
</html>