<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> DVibes</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/cours-list.css')}}">
    </head>
    <body>
        <div class="playlist">
                {% for row in data %}
                    <a href="/coach/cours-list/{{row[0]}}">
                        <div class="cours">
                            <img src="../{{row[5]}}" id="cover">
                            <p id="title">{{row[2]}}</p>
                            <p id="type">{{row[3]}}</p>
                            <p id="price">{{row[4]}}</p>
                        </div>
                    </a>
                {% endfor %}
        </div>
    </body>
</html>