<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> DVibes</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/sidebar.css')}}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/course-att.css')}}">
    </head>
    <body>
        <div class="preloader" id="preloader">
            <div class="anim-box">
                <div class="anim-interieur">
                    <div class="rect rect1"></div>
                    <div class="rect rect2"></div>
                    <div class="rect rect3"></div>
                    <div class="rect rect4"></div>
                    <div class="rect rect5"></div>
                </div>
            </div>
        </div>
        <div class="error">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="back">
            <a href="/coach/cours-manager" class="back-button">Back</a>
        </div>
        <div class="info">
            <img src="/{{info[6]}}" id="cover">
            <h1>{{info[2]}}</h1>
            <p>{{info[3]}}</p>
            <p>{{info[4]}} DA</p>
            <a href="#">Delete course</a>
        </div>
        <div class="add-attachement">
            <form method=post enctype="multipart/form-data">
                <h2>Add Lesson</h2>
                <input type="text" id="title" name="title" class="input" placeholder="Lesson title">
                <label for="file-input" class="drop-container">
                    <span class="drop-title">Drop Cover here</span>
                    <input type="file" name="file" id="file-input" required>
                </label>
                <select name="type" id="type" required>
                    <option value="" disabled selected>Select attachment type</option>
                    <option value="video">Video</option>
                    <option value="document">Document</option>
                </select>
                <input type="submit" id="sub" value="Submit">
            </form>
        </div>
        <div class="container">
            <div class="show-cours">
                <h1>Videos</h1>
                <div class="cour">
                    {% for video in cour_video %}
                        <h3>{{video[2]}}</h3>
                        <a href="/couch/cours-manager/delete:{{info[0]}}-{{video[0]}}" class="delete_att">Delete video</a>
                        <video width="400" controls>
                            <source src="/{{video[4]}}">
                        </video>
                    {% endfor %}
                </div>
            </div>
            <div class="show-doc">
                <h1>Daocument</h1>
                <div class="cour">
                    <table>
                        {% for doc in cour_doc %}
                        <tr>
                            <td><a href="/{{doc[4]}}">{{doc[2]}}</a></td>
                            <td><a href="/couch/cours-manager/delete:{{info[0]}}-{{doc[0]}}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>