<div class="add-cours">
    <p id="Title"><b>add cours</b></p>
    <form method=post enctype="multipart/form-data">
        <p id="lable">Title:</p>
        <input type="text" id="title" name="title">
        <p id="lable">type:</p>
        <input type="text" id="type" name="type">
        <p id="lable">Cover:</p>
        <input type="file" id="file" name="file">
        <p id="lable">Price:</p>
        <input type="number" id="Price" name="price">
        <p id="lable">Description</p>
        <textarea id="Description" name="description" rows="4" cols="50"></textarea>
        <input type="submit" id="sub" value="Submit">
    </form>
</div>