<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> DVibes</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/course-preview.css')}}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/preloader.css')}}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/navbar.css')}}">
    </head>
    <body>
        <div class="preloader" id="preloader">
            <div class="middle">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
                <div class="bar bar4"></div>
                <div class="bar bar5"></div>
                <div class="bar bar6"></div>
                <div class="bar bar7"></div>
                <div class="bar bar8"></div>
            </div>
        </div>
        <nav>
            <div class="menu">
                <button type="button" onclick="NavBarMenu()"><i class="fas fa-bars"></i></button>
            </div>
            <div class="logo">
                <a href="/"><img src="../../static/assets/2-removebg-preview.png" id="logo"></a>
            </div>
            <div class="links">
                <ul id="elements-links">
                    <li><a href="/news">News</a></li>
                    <li><a href="/events">Events</a></li>
                    <li class="dropdown">
                        <a href="">Courses</a>
                        <ul class="submenu">
                            <li id="link"><a href="/user/mycourses" id="link">My Courses</a></li>
                            <li id="link"><a href="/user/cours" id="link">Buy Course</a></li>
                        </ul>
                    </li>
                    <li><a href="/coaches">Coaches</a></li>
                </ul>
            </div>
            <div class="logins">
                <ul id="elements-logins">
                {% if log == True %}
                    <li><a href="/profile-check" class="account_icon">{{info}}</a></li>
                    <li><a href="/logout-check" class="logout">Log out</a></li>
                {% else %}
                    <li><a href="/login" id="login">Log in</a></li>
                    <li><a href="/singup" id="singup">Sing up</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container-1">
            <div class="cours">
                <img src="/{{course[6]}}">
                <h1 id="title">{{course[2]}}</h1>
                <p id="type">{{course[3]}}</p>
                <p id="Coach_name">by {{course[7]}}</p>
            </div>
            <div class="document">
                <h2>Document</h2>
                <ul>
                    {% for doc in document %}
                        <a href="/{{doc[1]}}">
                            <li>{{doc[0]}}</li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="container-2">
            <div class="video">
                <h2>Videos</h2>
                <ul>
                    {% for vid in video %}
                        <a href="/user/mycourses/{{vid[1]}}/{{vid[0]}}">
                            <li>
                                <p>{{vid[2]}}</p>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
    <script>
        let loader = document.getElementById("preloader");
        window.addEventListener("load", function(){
            loader.style.display = "none";
        })
      </script>
</html>