<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> DVibes</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/cours-list.css')}}">
    </head>
    <body>
        <div class="playlist">
                {% for cour in cours %}
                    <a href="/user/cours/overview:{{cour[0]}}">
                        <div class="cours">
                            <img src="../{{cour[6]}}" id="cover">
                            <p id="title">{{cour[2]}}</p>
                            <p id="type">{{cour[3]}}</p>
                            <p id="price">{{cour[4]}}</p>
                        </div>
                    </a>
                {% endfor %}
        </div>
    </body>
</html>