<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> DVibes</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/overview.css')}}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/preloader.css')}}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/navbar.css')}}">
    </head>
    <div class="preloader" id="preloader">
        <div class="anim-box">
            <div class="anim-interieur">
                <div class="rect rect1"></div>
                <div class="rect rect2"></div>
                <div class="rect rect3"></div>
                <div class="rect rect4"></div>
                <div class="rect rect5"></div>
            </div>
        </div>
    </div>
    <nav>
        <div class="menu">
            <button type="button" onclick="NavBarMenu()"><i class="fas fa-bars"></i></button>
        </div>
        <div class="logo">
            <a href="/"><img src="../../static/assets/2-removebg-preview.png" id="logo"></a>
        </div>
        <div class="links">
            <div class="links">
                <ul id="elements-links">
                    <li><a href="/news">News</a></li>
                    <li><a href="/events">Events</a></li>
                    <li class="dropdown">
                        <a href="">Courses</a>
                        <ul class="submenu">
                            <li id="link"><a href="/user/mycourses" id="link">My Courses</a></li>
                            <li id="link"><a href="/user/cours" id="link">Buy Course</a></li>
                        </ul>
                    </li>
                    <li><a href="/coaches">Coaches</a></li>
                </ul>
            </div>
        <div class="logins">
            <ul id="elements-logins">
                {% if log == True %}
                    <li><a href="/profile-check" class="account_icon">{{user[1]}}</a></li>
                    <li><a href="/logout-check" class="logout">Log out</a></li>
                {% else %}
                    <li><a href="/login" id="login">Log in</a></li>
                    <li><a href="/singup" id="singup">Sing up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <body>
        <div class="image">
            <img src="/{{cour_info[6]}}" id="cover">
        </div>
        <div class="info">
            <h1>{{cour_info[2]}}</h1>
            <h2>{{cour_info[5]}}</h2>
            <p>{{cour_info[3]}}</p>
            <p id="price">{{cour_info[4]}} DA</p>
            {% if log == True %}
            <a href="/user/cours/{{user[0]}}-purchase:{{cour_info[0]}}">purchase</a>
            {% else %}
            <button onclick="Error()">purchase</button>
            {% endif %}
        </div>
    </body>
    <script>
        let loader = document.getElementById("preloader");
        window.addEventListener("load", function(){
            loader.style.display = "none";
        })
        function Error() {
            var confirmed = confirm('You are not logged in do you want to redirect to login page?');
            if (confirmed) {
                window.location.href = '/login';
            }
        }
    </script>
</html>