<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> DVibes</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/user.css')}}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/sidebar.css')}}">
    </head>
    <body>
        <div class="sidebar">
            <a class="active" href="/user">Home</a>
            <a href="/evnew">News and Events</a>
            <a href="/user/profile">Profile</a>
            <a href="/user/cours">Cours</a>
            <a href="/logout">Log out</a>
        </div>
    </body>
</html>